.me
  display: flex
  margin-top: 5%
  height: 70vh

.profileAvatar
  width: 32%
  img
    width: 100%

.aboutMe
  padding-left: 3.5%
  span
    font-weight: 500

.name
  font-size: 1.5vw
  font-weight: 500

.profilePhotoLoadButton
  img
    width: 1.5%
    position: absolute
    left: 50.5%
    z-index: 0
    cursor: pointer
  input[type='file']
    display: none

.profileContacts
  margin-left: 10%
  width: 100%